<h1>Stupid Coaching</h1>

<div class="answer">
  <%= @answer %>
  <p>-You</p>
</div>

<div class="coach">
  <%= @coach_answer %>
  <p>-Your coach</p>
</div>

<div id="link">
  <%= link_to "Ask Again", ask_path%>
</div>
